/* .shadow
{
     text-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px;
}


.logo
{
margin-top : 60px;
}


.cursive
{
font-family:Segoe Print,Cursive,verdana,serif;
}



.jumbotron
{
padding:5px;
}



.floatleft
{
float:left;
margin:15px;
}

.floatright
{
float:right;
margin:15px;
}

.ulindex
{
list-style-position:inside;
font-family:Segoe Print,Comic Sans MS,verdana,serif;
font-weight:bold;
font-size: 15px;
}

.mainLink
{
color:black;	
text-decoration: none;
 font-weight: bold;   
 }   



 */